.sobre-nosotros{
    background-image: $tertiary_color;
    color: $primary_color;
}
.container-costum{
    margin: 20px auto;
    width: 90%;
    padding: 30px;
    max-width: 10000px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
}
.costum1{
    color:$primary_color;
    &:hover{
        scale:1.1;
    }
}
.costum2{
    color:$primary_color;
    &:hover{
        scale:1.1;
    }
}
.costum3{
    color:$primary_color;
    &:hover{
        scale:1.1;
    }
}
.about-us{
    margin-left:350;
    margin-top:20;
}

.h4aboutus{
    margin-left: 122;
    font-family: Arial, Helvetica, sans-serif;
}
