.footer{
    background-image: linear-gradient(black);
    height: 20px;
    width: 100%;
    margin-top:20;
    list-style: none;

}
.footer1{
    background-image: $tertiary_color;
    margin:0;
    margin-top: 0px;
    }
    

footer{
    margin-top:10;
    background-color: $tertiary_color;
}
.h2footer{
    margin-left:314;
    background-color:$tertiary_color ;
    background-image: $tertiary_color;
}

