.form-contro{
    color:black;
   padding: 0%;
   margin-bottom:11 ;
}
.form-contro1{
    margin-left: 77;
    margin-bottom: 11;
}
.form-contro2{
    margin-left: 57;
   
}
.escribe{
    color:black;
    margin-bottom: 10;
}
button{
    color:black;
    margin-bottom:10 ;
&:hover{
    scale:1.2;
}}
h4{
    color:beige;  
    margin-top: 11;
    font-family:fantasy;

}
form{
    display: flex;
    justify-content: center;
}
.boton{
    color:black;
   
}
label{
    color:aqua;
}
.form-cv{
    margin-bottom: 10;
}
