
.container-fluid1{
  background-image: url(https://media.istockphoto.com/id/172297774/es/foto/texturas-rojo-oscuro.jpg?s=612x612&w=0&k=20&c=h_1gCCdkZ2RwYE449o7QYCh04t7PFXTtvQLT15LVRyg=);
}
  .container-fluidind{
  overflow-x: hidden;
  overflow-y: hidden;
  }