
header{
    background-image: linear-gradient(#311011, black);
    height: 20px;

ul{
    margin:0;
    padding: 0;
    list-style:none;
    padding-right:20px;
}}

ul{
    display: flex;
    justify-content: space-between;

li{
    color:aqua;
}}

.headerindex{
    width: 100%;
    position:fixed;

header{
    width: 100%;
    position:fixed;
}}

header{
    width: 100%;
    position:fixed;}

.nav2{display:none
}