.item {
    width: 800px;
    height: 200px;
    margin: 50px auto;
    padding-top: 55px;
    background: #ccc;
    text-align: center;
    color: #fff;
    font-size: 1em;
    background-image:url(https://media.istockphoto.com/id/623274274/es/foto/proyecto-de-espacio-de-copia-de-tarjetas-de-visita-a-escala-de-ley.jpg?s=612x612&w=0&k=20&c=d7uZEBGc0sVGwpv8whkMIwfQgs4_lopF-EbeDDE_J7A=);
    background-color: black;
    background-repeat: no-repeat;
    background-size:contain;
  }
  .welcome{
    font-size: 3em;
  }
